<div *ngIf="!ntAccount" id="content" class="container-fluid">
        <div class="row" id="content-row">

            <div class="col-md-6 col-md-offset-1 col-xs-12">
                <div id="bark-description">
                    <h3>
                        Data Quality Service Platform on eBay Cloud.
                    </h3><br>
                    <p>
                        Automates your data quality validation
                    </p><br>
                    <p>
                        Health monitoring, Profiling and detection
                    </p><br>
                    <p>
                        Unified Visualization
                    </p><br>
                    <p>
                        One set of tools to build data quality pipelines
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-1 col-xs-12">
                <div id="login-form">
                    <div style="text-align:center;margin-bottom:30px;">
                        <img src="../assets/img/logo.png" class="img-rounded" style="width:80%;">
                    </div>

                    <input type="input" class="form-control" placeholder="username" autocomplete="on" style="margin-bottom:20px;" (focus)="focus($event)">

                    <input type="password" class="form-control" placeholder="password" autocomplete="on" (keyup)="submit($event)" (focus)="focus($event)">

                    <div class="checkbox">
                    <label style="color:white;">
                        <input type="checkbox" value="remember-me" checked>Remember me
                    </label>
                    </div>

                    <button class="btn btn-default btn-large btn-block" id="login-btn" (click)="login()" style="margin-bottom: 20px;">Log in</button>

                    <div id="loginMsg">Login failed. Try again.</div>
                </div>
            </div>

            <div class="col-xs-12">
                <div id="bark-description-2">
                    <h3>
                        Data Quality Service Platform on the eBay Cloud.
                    </h3><br>
                    <p>
                        Automates your data quality validation
                    </p><br>
                    <p>
                        Health monitoring, Profiling and detection
                    </p><br>
                    <p>
                        Unified Visualization
                    </p><br>
                    <p>
                        One set of tools to build data quality pipelines
                    </p>
                </div>
            </div>
        </div>

</div>



