@import url('../../../node_modules/bootstrap/dist/css/bootstrap.css');
#content {
    background-color: #1A237E;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
hr {
    margin-bottom: 30px;
}

@media (min-width: 992px) {

    #content-row {
        margin-top:12em;
        margin-bottom:7em;
    }

    #bark-description {
        display: block;
    }

    #bark-description-2 {
        display: none;
    }
}

@media (max-width:991px) {

    #content-row {
        margin-top:0em;
        margin-bottom:0em;
    }

    #bark-description {
        display: none;
    }

    #bark-description-2 {
        margin-top: 3em;
        display: block;
    }
}

#bark-description p, #bark-description-2 p {
    margin-left: 100px;
    color: #ffffff;
    font-size: 20px;
}

#content-row {
    padding: 3em 0;
    background-color: rgba(255, 255, 255, 0.2);
}

#loginMsg {
    display: none;
    background-color: #F1D7D7;
    color: #A95252;
    padding: 8px 12px;
    border-radius: 4px;
    text-align:center;
}