
.job{
	font-size: 20px;
}

.info{
	color: #b2c831;
}

legend{
    background-color: #1f1f1f;
     color: #007AFF; 
    left: 10px;
    padding: 0 10px;
    position: absolute;
    top: -12px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
    font-size: 21px;
    width: auto!important;
    border: none!important;
}
fieldset {
    border: 1px solid #e6e8e8;
    border-radius: 5px;
    margin: 20px 0;
    padding: 25px;
    position: relative;
    min-width: 0;
    display: block;
    height: 320px;
}
.setcolor{
	color: #b2c831;
}
.setgrey{
	color: #888888;
}
.mat-calendar-table{
	height: 400px;
}
.mat-datepicker-content{
	overflow-y: auto;
}

#md-datepicker-0{
	height:250px;
}