*.class
*.iml
.idea/
.DS_Store
target/**

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
target
service/src/main/resources/public/
ui/.tmp/


.project
.settings/
.classpath
bin

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# don't need binary 
ui/bower_components/*




ui/node_modules/*
ui/debug.log
ui/package-lock.json

derby.log
metastore_db
