<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div >
    <p>
        <a class="btn btn-primary btn-o btn-wide" href="#!/createjob-ac"><i class="fa fa-plus"></i> Create Job</a>
    </p>

    <div id="modelContainer">
        <table st-table="displayed" st-pipe="pagingJob" class="table table-striped">
            <thead>
            <tr style="background-color:#7D95CC">
                <th st-ratio="15">Job Name</th>
                <th st-ratio="15">Source Partition</th>
                <th st-ratio="15">Target Partition</th>
                <th st-ratio="15">Previous Fire Time</th>

                <th st-ratio="20">Next Fire Time</th>
                <th st-ratio="15">Trigger State</th>

                <th st-ratio="5">Interval</th>
                <th st-ratio="5">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="!rowCollection || rowCollection.length == 0">
                <td colspan="7" style="text-align:center">No content!</td>
            </tr>
            </tbody>
            <tbody ng-repeat="row in displayed" ng-init="p_index=$index">
            <tr ng-click = "showInstances(row,0)">
                <td ng-class="{accordion:true}" ng-click="row.showDetail=!(row.showDetail)" style="cursor: pointer;">
                    <i ng-show="!row.showDetail" class="fa fa-chevron-circle-right blue"></i>
                    <i ng-show="row.showDetail" class="fa fa-chevron-circle-down blue"></i>
                    {{row.jobName}}
                    <!-- -{{(row.createTime | date: 'yyyy/MM/dd HH:mm:ss') || 'N/A' }} -->
                </td>
                <td>{{row.sourcePat}}</td>
                <td>{{row.targetPat|strmap:'modeltype'}}</td>
                <td ng-show="row.previousFireTime==-1">--/--/-- &nbsp;&nbsp;--:--</td>
                <td ng-show="row.previousFireTime!=-1">{{(row.previousFireTime | date: 'yyyy/MM/dd HH:mm:ss') || 'N/A' }}</td>
                <td>{{(row.nextFireTime | date: 'yyyy/MM/dd HH:mm:ss') || 'N/A' }}</td>
                <td>{{row.triggerState}}</td>
                <td>{{row.periodTime}}s</td>
                <td>
                    &nbsp;
                    <a ng-class="" href="" ng-click="remove(row)" title="delete" style="text-decoration:none">
                        <i class="fa fa-trash-o"></i>
                    </a>
                    &nbsp;
                </td>
            </tr>
            <tr ng-show="row.showDetail">
                <td colspan="7" style="padding:20px 30px 10px 30px;">
                    <table st-table="row.currentInstances"
                           class="table table-striped" style="word-wrap: break-word;" >
                        <thead>
                        <tr style="background-color:#7D95CC">
                            <th style="width:25%" >ID</th>
                            <th style="width:25%" >Time</th>
                            <th style="width:25%" >Group Name</th>
                            <th style="width:36%" >State</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="!row.currentInstances || row.currentInstances.length == 0">
                            <td colspan="7" style="text-align:center">No content.</td>
                        </tr>
                        <tr ng-repeat="item in row.currentInstances" >
                            <td>{{item.id}}</td>
                            <td>{{item.timestamp | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
                            <td>{{item.groupName}}</td>
                            <td>{{item.state}}</td>
                        </tr>
                        <br>

                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3" class="text-right"></td>
                            <td ng-repeat="item in row.pageCount" ng-click="showInstances(row,item)" ng-init="c_index=$index" class="page" id={{p_index}}-{{c_index}}>{{item+1}}</td>
                        </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8" class="text-right">
                    <div  st-items-by-page="10" st-pagination="" st-displayed-pages="10"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="modal fade" id="deleteJobConfirmation" role="dialog">
        <div class="modal-dialog modal-xg modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete the job with the below information?</h4>
                </div>
                <div class="modal-body">
                    <ng-include src="'/pages/jobs/delete-confirm.html'"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="confirmDelete()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
