{
  "spark": {
    "log.level": "INFO",
    "checkpoint.dir": "hdfs:///griffin/checkpoint",
    "config": {}
  },

  "persist": [
    {
      "type": "hdfs",
      "config": {
        "path": "hdfs:///griffin/persist"
      }
    },
    {
      "type": "http",
      "config": {
        "method": "post",
        "api": "http://HOSTNAME:9200/griffin/accuracy"
      }
    }
  ],

  "cleaner": {

  }
}
