#orgSelector{
	padding: 4px 6px;
	height: 30px;
	width: 230px;
	background-color: #d1d3d2;
	display: inline-block;
	margin-left: 10px;
}

#measureSelector{
	padding: 4px 6px;
	height: 30px;
	width: 230px;
	background-color: #d1d3d2;
	display: inline-block;
	margin-left: 10px;
}