/***********LineIcons Styles***********/

.info-user {
  text-align: center;
  font-size: 24px;
  color: #b2c831;
}

.fs1 {
  padding: 5px 5px 5px 5px;
  position: relative;
  &:hover {
    position: relative;
    color: #fff;
    cursor: pointer;
  }
}

.fs2 {
  padding: 5px 5px 5px 5px;
  position: relative;
  font-size: 35px;
  vertical-align: text-bottom;
}
